<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.troll.dejtalk</string>

  <key>ProgramArguments</key>
  <array>
    <string>HOMEPATH/dejtalk.sh</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartInterval</key>
  <integer>2575</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/dt.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/dt.out</string>
</dict>
</plist>
